.Header-container {
    height:1000px;
    position:relative;
    background-image: url('../../../images/bg.png');
    background-size: cover;
}
.Header-container::after {
    height:900px;
    content:' ';
    position: absolute;
    top: 0;
    width: 30%;
    right: 0;
    background-color: #3A4256;
    z-index: -50;
}