.bg-img {
  background-image: url(../../../images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* border: solid 1px red; */
  margin: auto;
}
.footerStyle {
  display: flex;
  margin: auto;
  padding-top: 80px;
}
.footerStyle li {
  list-style: none;
}
.footerStyle h5 {
  padding-bottom: 20px;
}
